<!DOCTYPE html>
<html data-beasties-container lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ProjectBabeesFrontApp</title>
    <base href="/">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/browser/styles.css}">
</head>
<body>
<app-root></app-root>
<script defer th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/browser/polyfills.js}" type="module"></script>
<script th:src="@{/browser/main.js}" type="module"></script>
</body>
</html>